@charset "utf-8";

/*
Base style
*/

body{
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    /*Noto sansが読み込まれなかった場合(それぞれのPCで持っているフォントが違うため)の代替え案を列挙している
    font-family: "Noto Sans JP", serif;
     +
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    */
    font-size: 15px;
    line-height: 1.5;
    color: #333
    }

/*
section
*/

.section {
    padding: 30px 15px;
}
.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px 0; /*top right bottom leftの順で最後のleftを抜いてもOK*/
}

/*
about
*/

.about {
    margin: 0;
    display: flex;
}
/* .about-image {} */
.about-caption {
    padding-left: 20px;
}
.about-headline {
    margin: 0 0 20px;
    font-size: 30px;
}
/* .about-description {} */

.grid {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.grid-item {
    list-style: none;
}
.grid-col-4 {}
.grid-col-2 > .grid-item {
    with: 50%;
}
.grid-col-3 > .grid-item {
    with: 33.3;
}
.grid-col-4 > .grid-item {
    with: 25%;
}
.grid-col-5 > .grid-item {
    with: 20%;
}

.feature {
    text-align: center;
    padding: 0 15px;

}
.feature-headline {
    font-weight: bold;
    margin: 0 0 20px;

}
.feature-img {
    margin: 0 0 20px;
}
.feature-description {
    margin: 0;
    text-align: left;
}